<header>
    <div class="container">
        <div class="content">
            <div id="logoDiv">
                <a class="logo" href="/">Mini Message Board</a>
                <p>3,000+ messages</p>
            </div>
            <div id="navDiv">
                <a href="/new-message">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9569 4.54347C18.8845 3.47107 17.9308 3.78734 17.9308 3.78734L9.52382 12.1875L8.10985 16.3905L12.3109 14.9755L20.713 6.56955C20.713 6.56955 21.0283 5.61587 19.9569 4.54347ZM12.5912 14.0598L12.1328 14.5172L10.6994 15.0038C10.5887 14.7332 10.4238 14.4881 10.2148 14.2836C10.0103 14.0746 9.76524 13.9097 9.49463 13.799L9.9812 12.3656L10.4395 11.9082C10.4395 11.9082 11.1947 11.8216 11.9353 12.5631C12.6768 13.3037 12.5912 14.0598 12.5912 14.0598ZM17.8413 19.3099H5.19042V6.65908H10.0561L12.0024 4.7128H5.19042C4.11997 4.7128 3.24414 5.58862 3.24414 6.65908V19.3099C3.24414 20.3804 4.11997 21.2562 5.19042 21.2562H17.8413C18.9117 21.2562 19.7875 20.3804 19.7875 19.3099V12.4979L17.8413 14.4442V19.3099Z" fill="#2639C2"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>