<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "New Message" }) %>
<body>
    <%- include("partials/navigation") %>
    <main>
        <div class="container">

            <h1><%= message %></h1>
            <a href="/">Go back to home</a>
        </div>
    </main>
    
</body>
</html>