<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "Mini Message Board" }) %>
<body>

    <%- include("partials/navigation") %>
    <main>
        <div class="container">
            <div class="chats">
                <% messages.forEach((message) => { %>
                    <%- include("partials/message-card", { message }) %>
                <% }) %>
            </div>
        </div>
    </main>
</body>
</html>