<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "Mini Message Board" }) %>
<body>

    <%- include("partials/navigation", { messages }) %>
    <main>
        <div class="container">
            <div class="chats">
                <% if (messages.length > 0) { %>
                <% messages.forEach((message) => { %>
                    <%- include("partials/message-card", { message }) %>
                <% }) %>
                <% } else { %>
                    <h1>No messages found</h1>
                    <a href="/new-message">Create a new message</a>
                <% } %>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <p> Mini Message Board &copy;<%= new Date().getFullYear() %> Kizzylion </p>
        </div>
    </footer>
</body>
</html>